{% extends 'core/base.html' %}
{%load static%}
{%block title%}
Evoluciones
{%endblock%}

{%block content%}
    <br>
    <div class="search">
    <form method="get">
        <div class="mb-3">
        <label for="numeroResidencia" class="form-label">Recien Nacido</label>
        <input type="search" class="form-control searchInp" id="numeroResidencia" name="search">
        </div>
        <button type="submit" class="btn btn-primary">Filtrar</button>
    </form>
    </div>
    <br>
    <div class="col-md-8">
        <table class="table table-bordered border-primary" >
            <thead>
                <tr>
                    <th scope="col">Recien Nacido</th>
                    <th scope="col">Fecha</th> 
                    <th scope="col">Peso</th>
                    <th scope="col">Orina</th>
                    <th scope="col">Deposicion</th>
                    <th scope="col">Tolerancia</th>
                    <th scope="col">Sector</th>
                    <th scope="col">Cama</th>
                    <th scope="col">Matrona</th>
                    
                </tr>
            </thead>
        {%for i in evolucion%}
            <tbody>
                <tr>
                    <td scope"col">{{i.recienNacido}} </td>
                    <td scope"col">{{i.fecha}} </td>
                    <td scope"col">{{i.peso}} </td>
                    {% if  i.orina %}
                    <td scope"col">Sí</td>
                    {% else %}
                    <td scope"col">No</td>
                    {% endif %}
                    {% if  i.deposicion %}
                    <td scope"col">Sí</td>
                    {% else %}
                    <td scope"col">No</td>
                    {% endif %}
                    <td scope"col">{{i.tolerancia}} </td>
                    <td scope"col">{{i.cama.sector}} </td>
                    <td scope"col">{{i.cama}} </td>
                    <td scope"col">{{i.matrona.first_name}} {{i.matrona.last_name}} </td>
                    
        {% endfor %}
            </tbody>
        </table>
    </div>
{%endblock %}