{% extends 'core/base.html' %}
{%load static%}
{%block title%}
Inicio
{%endblock%}

{%block content%}
{% comment %} Pagina de inicio a la que uno ira despues de iniciar sesión {% endcomment %}
<div class="inicio">
<div class="container-fluid" style="margin-left: 10vh;"  >

  <br><br>
  <h2 style="margin-left: 10vh;color: white;border-color: black">Bienvenido al sitio web del Hospital Gustavo Fricke</h2>
  <br><br>
    <div class="row" style="margin-left:10vh">
      
      <div class="col-mb-4">
        <div class="card" style="width: 18rem;">
          <img src="{%static 'core/img/OIP.jpg'%}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ver Recien Nacido</h5>
            <p class="card-text"></p>
            <a href='{% url 'evoluciones'%}' class="btn btn-primary">Ir</a>
          </div>
        </div>

      </div>
      {% if user.is_staff%}
      <div class="col-mb-4">
        <div class="card" style="width: 18rem;">
          <img src="{%static 'core/img/bb.jpg'%}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Registrar evolucion recien nacido</h5>
            <p class="card-text"></p>
            <a href='{% url 'admin:core_evolucion_add'%}' class="btn btn-primary">Ir</a>
          </div>
        </div>
      </div>
      <div class="col-mb-4">
        <div class="card" style="width: 18rem;">
          <img src="{%static 'core/img/mendoza.jpg'%}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Registrar Hospitalización recien nacido</h5>
            <p class="card-text"></p>
            <a href="{% url 'admin:core_reciennacido_add'%}" class="btn btn-primary">Ir</a>
          </div>

        </div>
      </div>
    </div>
  {%endif%}
</div>
</div>
{%endblock %}