{% extends 'core/base.html' %}
{%load static%}
{%block title%}
Inicio
{%endblock%}

{%block content%}
{% comment %} <img src="{% static 'core/img/images.png' %}" alt="My image"> {% endcomment %}
<div class="containter-fluid">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <br><br><br>
            <h1>Iniciar sesión</h1>
            <br>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default" style="font-family: Arial, Helvetica, sans-serif;">Nombre de usuario</span>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" >
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default" style="font-family: Arial, Helvetica, sans-serif;">Contraseña</span>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
              </div>
              <button type="button" class="btn btn-outline-dark"><a href="" style="font-family: arial; color: black; ">Iniciar</a>  </button>
              </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>
{%endblock %}