{% extends 'core/base.html' %}
{%load static%}
{%block title%}
Mapa
{%endblock%}

{%block content%}
{% comment %} Pagina de inicio a la que uno ira despues de iniciar sesión {% endcomment %}
<div class="inicio">
<div class="container-fluid" style="margin-left: 10vh;" >

  <br><br>
  <h2 style="margin-left: 10vh;color: white;">Ubicación</h2>
  <br><br>
   <div id="map"></div>
    <script>
        function initMap() {

        var coord = {lat:-33.029163 ,lng: -71.541882};

        var map = new google.maps.Map(document.getElementById('map'),{
      zoom: 16,
      center: coord
    });
    var marker = new google.maps.Marker({
      position: coord,
      map: map
    });
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5Du10WEBWlTUFnVb5H_MQG_FgGHiP9j4&callback=initMap"></script>
</div>
</div>
{%endblock %}